<h1>Edit Station</h1>


<%= form_for(@station, url: station_path(@station.slug)) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit(:class => "btn btn-warning") %>
<% end %>

