<% content_for(:title, @station.name) %>

<div>
  <h2>Station <%= @station.name %></h2>
  <h4>Lines:</h3>
  <ul>
    <% @station.lines.each do |line| %>
      <li><%= link_to line.number, line_path(line.number) %></li>
    <% end %>
  </ul>

</div>

<%= link_to "Edit Station", edit_station_path, class: "btn btn-warning" %>
<%= link_to "Delete Line", station_path(@station.slug),
                      :confirm => "You sure?",
                      :method => "delete",
                      :class => "btn btn-danger" %>
